* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*===============================
        Deafult
=================================**/
body {
    display: flex;
    flex-flow: column;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

button {
    padding: 15px 20px;
    color: #fff;
    background: linear-gradient(90deg, #43CAE8, #37F9D7);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/*===================================
        Top_bar_Menu_area
===================================*/

.header_are {
    width: 100%;
    background: linear-gradient(90deg, #43CAE8, #37F9D7);
    position: fixed;
}

.logo_nav_bar {
    width: 1250px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.logo {
    margin-right: auto;
    color: #fff;
}

.logo:hover {
    color: rgb(8, 31, 7);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.logo_nav_bar ul {
    display: flex;
    flex-flow: row;
}

.logo_nav_bar ul>li:hover {
    background: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.logo_nav_bar ul>li>a {
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.logo_nav_bar ul>li>a:hover {
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/*before_area_menubar*/

.logo_nav_bar ul>li {
    position: relative;
}

.logo_nav_bar ul>li::before {
    content: '';
    position: absolute;
    padding: 2px;
    width: 0px;
    background: red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    left: 49%;
    border: none;
    bottom: 1px;
    opacity: 0;
}

.logo_nav_bar ul>li::after {

    content: '';
    position: absolute;
    padding: 2px;
    width: 0px;
    background: red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    right: 49%;
    border: none;
    bottom: 1px;
    opacity: 0;
}

.logo_nav_bar ul>li:hover::before {
    width: 30px;
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.logo_nav_bar ul>li:hover::after {
    width: 30px;
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/*menu_fst_child*/
.logo_nav_bar ul>li:first-child {
    position: relative;
}

#color_home_first-child {
    color: black
}

.logo_nav_bar ul>li:first-child::before {
    content: '';
    position: absolute;
    padding: 2px;
    width: 50px;
    background: red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    left: 10px;
    bottom: 1px;
    opacity: 1;
}

.logo_nav_bar ul>li:first-child:hover::after {
    opacity: 0;
}

/*====================================
            span_menu_ara
=====================================*/
#span_menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#span_menu>span {
    padding: 3px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 30px;
    margin-top: 3px;
}

#span_menu>span:first-child {
    margin-top: 5px
}

.logo_nav_bar ul>li:last-child:hover::before {
    opacity: 0;
}

.logo_nav_bar ul>li:last-child:hover::after {
    opacity: 0;
}

.logo_nav_bar ul>li:last-child:hover {
    background: transparent;
}

/*========================================================
                    hero_section
===========================================================*/
#hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000, #000), url(./img/img1.jpg);
}

#hero_section {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background: linear-gradient(#00000038, #00000042), url(./img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero_button button:last-child {
    background: transparent;
    border: 1px solid#fff;
    transition: 0.5s !important;
    -webkit-transition: 0.3s !important;
    -moz-transition: 0.5s !important;
    -ms-transition: 0.5s !important;
    -o-transition: 0.5s !important;
}

#hero_button button:last-child:hover {
    background: #43CAE8;
    border: 1px solid #43CAE8;
}

/**========================================
    The future plan area
===============================================*/
section.features_design {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:80px 0px;
    background:#ddd;
}

section.features_design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature_text h1 {
    font-size: 50px;
    text-align: center;
}

.feature_text p {
    font-size: 15px;
    text-align: center;
    color: #a89e9e;
    line-height: 15px;
    margin-bottom: 20px;
}

.design_quality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.design_items {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    box-shadow: 9px 12px 25px -3px #b8aeae;
    padding: 20px;
}

.design_items:first-child {
    margin-right: 100px;

}

.disign-text span {
    margin-top: 10px;
    display: block;
}

/*====================================
            Our Portfolio
=======================================*/
section#our_protfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.protfolio_headerText_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.protfolio_headerText_area h1 {
    font-size: 32px;
    padding-bottom: 20px;
}

.protfolio_headerText_area p {
    font-size: 16px;
    color: #979292;
    margin-bottom: 20px;
}

.protfolio_work-list {
    display: flex;
    flex-direction: row;
}

.protfolio_work-list h3 {
    margin-right: 80px;
    color: #7f7777;
    padding:5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.protfolio_work-list h3:hover{
    color:#43CAE8;
}
.protfolio_work-list h3:last-child {
    margin-right: 0px;
}

.protfolio_work-list h3:first-child {
    color: #43CAE8;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.protfolio_work-list h3:first-child::before{
    visibility:visible;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}

.protfolio_work-list h3::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3px;
    border-radius: 30px;
    background: linear-gradient(90deg, #43CAE8, #37F9D7);
    visibility: hidden;
    transform-origin: center;
    transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    left:-3px;
}

.protfolio_work-list h3:hover::before{
    visibility:visible;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transform-origin: center;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}
.protfolio_prants {
    display: flex;
    width: 1200px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.protfolio_work_child_items:nth-child(4) {
    margin-top: 65px;
}
.protfolio_work_child_items:nth-child(5) {
    margin-top: 65px;
}
.protfolio_work_child_items:nth-child(6) {
    margin-top: 65px;
}
.protfolio_img img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}.protfolio_prants h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*==================================
        pricing_plan
====================================*/
#pricing_plan{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    margin-top: 100px;
    background: #f4f4f4;
    padding-bottom: 70px;
}
#pricing_plan h1{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}
section#pricing_plan p {
    text-align: center;
    color: #919191;
    font-size: 15px;
    margin-bottom: 50px;
}
.pricing_parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}
.pricing_child {
    background: #fff;
    padding: 16px;
    width: 350px;
    margin-right: 30px;
    height: 533px;
    border-radius: 20px;
    cursor: pointer;
}
.pricing_child:last-child{
    margin-right:0px !important;
}
.pricing_child img{
    margin-left: 45px;
}
.pricing_child span {
    display: block;
    margin-bottom:25px;
    color:#938686;
    margin-left: 10px;
}
.pricing_child span i{
    color:rgb(116, 231, 116);
}.pricing_child h1 {
    font-size: 37px !important;
    text-align: center;
    margin-top:5px !important;
}

.pricing_child h1 span {
    display: inline;
    font-size: 22px;
    margin-left: 0px;
}
.pricing_child h5 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
#btn_pricing_plan{
    margin:auto;
    display: block;
    margin-top:50px!important;
    cursor: pointer;
}
#btn_pricing_plan a{
    color:#fff;
}

/*=================================
            Get latest  updates!
=====================================*/
#get_latest_up{
display: flex; 
padding: 60px 50px; 
flex-flow: row wrap;
justify-content:center;
align-items: center;
}
.child_get_latest_up h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.child_get_latest_up span {
    font-size: 14px;
}
.child_get_latest_up input{
    width: 400px;
    padding:20px 20px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border:1px solid #ddd;
    outline: none;
    font-size: 20px;
}

.child_get_latest_up input::placeholder{
    color:#ddd;
}
.child_get_latest_up:last-child {
    position: relative;
    margin-left: 121px;
}
.child_get_latest_up a {
    position: absolute;
    left: 326px;
    top: 0px;
}
.child_get_latest_up a button{
    padding: 20px 10px;
    font-size: 22px;
}

/*===============================
        testimonials
==================================*/
section#testimonial {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgb(247, 244, 244);
    padding: 100px 0px;
    padding-bottom: 70px;
    cursor: pointer;
}

.testimonial_header-text h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.testimonial_header-text p {
    text-align: center;
    font-size: 15px;
    color: #a49e9e;
    margin-bottom: 25px;
}

.testimonial_Items_parent_ {
    display: flex;
    flex-flow: row wrap;
    padding:0px 20px;
}

.testimonial_Items_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    background:#fff;
    margin-right: 40px;
    padding:25px 25px;
    width:350px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px black;
}
.testimonial_Items_child:last-child{
    margin-right: 0px;
}
.testimonial_Items_child p{
    text-align: center;
    margin-top: 23px;
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial_Items_child h3 {
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.testimonial_Items_child span {
    color: #999696;
    font-size: 15px;
}
.testimonial_slider{
    display:flex;
    margin-top: 40px;
}
.testimonial_slider span{
    padding: 8px;
    background:#fff;
    border-radius: 30px;
    margin-right: 12px;
}
.testimonial_slider span:nth-child(2){
    background: linear-gradient(90deg, #43CAE8, #37F9D7);
}
/*=================================
            logo-are
===================================*/
section.brand_logo_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:60px 18px;
    justify-content: center;
}

.single_brand_logo {
    width: 150px;
    margin-right: 40px;
}

.single_brand_logo:last-child {
    margin-right: 0px;
}
/*==================================
            get_in_touch
=====================================*/
.get_in_touch{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    background-color: rgb(243, 237, 237);
    padding-bottom: 50px;
}
.main_form{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}
.child_main_form{
    width:500px;
}.get_header_text h1 {
    text-align: center;
    font-size: 45px;
    margin-top:70px;
}

.get_header_text p {
    text-align: center;
    font-size: 15px;
    color: #aa9f9f;
    margin-top: 20px;
    margin-bottom: 57px;
}
.child_main_form h3 {
    margin-bottom: 12px;
}

.child_main_form p {
    margin-bottom: 40px;
    font-size: 15px;
    color: #a89d9d;
    line-height: 20px;
}
.child_main_form:last-child{
    margin-left: 5px;
}
.child_main_form span {
    display: block;
    margin-bottom: 15px;
    color: #a89d9d;
}
.child_main_form span i{
    margin-right: 15px;
    color: #a89d9d;
}
.child_main_form form{
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    position: relative;
}
.child_main_form form label{
    margin-bottom: 5px;
}
.child_main_form form input{
    font-size: 17px;
    padding-left:25px;
    padding-top:5px;
    padding-bottom: 5px;
    outline: none;
    border:1px solid #a89d9d;
    margin-bottom: 5px;
}
.child_main_form form textarea{
    font-size: 17px;
    padding-left:25px;
    border:1px solid  #a89d9d;
    padding-top:5px;
    outline: none;
}
.child_main_form form a{
    margin-top:5px;
}

.child_main_form form i{
    position:absolute;
}
#numer_1_icon{
    left:8px;
    top:30px;
    color:#a89d9d;
}
#numer_2_icon{
    color:#a89d9d;
    left:8px;
    top:85px;
}
#numer_2_icon {
    color: #a89d9d;
    left: 8px;
    top: 90px;
}
i#numer_3_icon {
    color: #a89d9d;
    top: 148px;
    left: 8px;
}
/*====================================
            fotter_area
======================================*/
#fotter_area{
    display:flex;
    justify-content: center;
    flex-flow:row wrap;
    padding:40px 0px;
    padding-left:60px;
}
.fotter_child{
    flex-basis: 300px;
}
.fotter_child ul li{
    font-size: 20px;
    margin-top:20px;
}
.fotter_child ul li:first-child{
    color:rgb(146, 141, 141);
}
/*===================================
            created_name
======================================*/
#created_name{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    padding:50px 0px;
    align-items: center;
    border-top:1px solid #ddd;
}
#created_name p{
    margin-right:700px;
    font-size: 25px;
}
#created_name p span{
    color: #43CAE8;
    margin-left:50px;
}
#created_name p i{
    color:#43CAE8;
    margin-left: 20px;
}
.iconss ul{
    display:flex;
    flex-flow:row wrap;
}
.iconss ul li a{
    display:block;
    color:rgb(83, 78, 78);
    margin-left:20px;
    font-size: 20px;
}